.todo-container {
    background-color: rgb(236, 232, 232);
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center; ; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
