body {
    background-color: plum;
    display: flex;
    justify-content: center;
}

.board-container {
    width: 400px;
    background-color: beige;
    border: 1px solid black;
}

.board-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.square {
    border: 1px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
